.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.theme-navbar-color h4 {
    color: white;
}
body {
    background-color:black;
    color: white;
    xpadding:30px;
    font-family: tahoma, serif;
    padding-top: 5rem;
}
td {
    padding: 3px 10px 9px 10px;
}
